[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "==1.1.2"
numpy = "*"
xgboost = "==1.6.1"
boto3 = "*"
mlflow = "*"
hyperopt = "*"
prefect = "==2.2.0"
s3fs = "*"
aiohttp = "==3.8.1"
kaggle = "*"

[dev-packages]
jupyter = "*"
seaborn = "*"
black = "*"
autopep8 = "*"
isort = "*"
pylint = "*"
pre-commit = "*"
deepdiff = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
