[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "==1.1.2"
pandas = "*"
xgboost = "==1.6.1"
matplotlib = "*"
mlflow = "*"
hyperopt = "*"
kaggle = "*"

[dev-packages]

[requires]
python_version = "3.9"
